.dockerignore
venv
.idea
.gitignore
README.md
docker-compose.yml
template.config.yml
createsuperuser.sh
makemigrations.sh
makemigrations.bat
migrate.sh
migrate.bat
run.sh
run.bat
setup.bat
data.json
database
media-local
